<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>NG2 Seed</title>

  <meta name="description" content="">

  <% if (webpackConfig.htmlElements.headTags) { %>
      <!-- Configured Head Tags  -->
      <%= webpackConfig.htmlElements.headTags %>
  <% } %>
</head>

<body>
  <app>
  </app>

<div id="preloader">
  <div></div>
</div>

</body>
</html>
