@import '../../sass/conf/conf';

$sidebar-width: 180px;
$angle-left: "\f100";
$angle-right: "\f101";

.gc-sidebar {
  width: $sidebar-width;
  top: $top-height;
  left: 0;
  z-index: 904;
  display: block;
  min-height: 100%;
  background-color: $sidebar;
  height: 100%;
  position: fixed;
}

.gc-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 18px 0 0 0;
  list-style: none;
}
